$primaryColor : #202124;
$secondaryColor:#ccc;
$bodyColor: #303030;
$primaryFont: initial;
$fontP: 1.6rem;
$fontH1: 3.2rem;
$fontH2: 2.8rem;
$fontH3: 2.6rem;
$fontH4: 2.4rem;
$fontH5: 2.2rem;
$fontH6: 2.0rem;