@import 'styles/Variables.scss';

body {
  padding-bottom: 70px;
  background-color: #202124;
  padding-top: 70px;
}

header {
  background-color: $primaryColor;
  box-shadow: inset 0 -1px 0 0 #5f6368;
  padding: 8px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  .logo {
    a {
      color: #e8eaed;
      font-size: 22px;
    }
  }

  .headerIcons {
    li {
      a {
        display: flex;
        width: 40px;
        height: 40px;
        background-color: #3a3b3cfa;
        align-items: center;
        line-height: 1;
        border-radius: 100%;
        color: #e8eaed;
        justify-content: center;
      }
    }
  }

  .searchInput {
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 25px;
      color: #e8eaed;
    }

    input {
      width: 100%;
      background-color: #525355;
      border: none;
      outline: none;
      color: #e8eaed;
      padding: 10px;
      border-radius: 6px;
      padding-left: 50px;

      &::placeholder {
        color: #e8eaed;
      }
    }
  }
}

footer {
  background-color: $secondaryColor;
  padding: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;

  p {
    padding: 0;
    margin: 0%;
  }
}

.addButton {
  background-color: #3a3b3c;
  border: none;
  color: #e8eaed;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.form {
  max-width: 600px;
  margin: 35px auto;
  background-color: #202124;
  box-shadow: 0px 30px 50px -40px #00000069;
  padding: 5px;
  border: 2px solid #3a3b3c;
  border-radius: 9px;

  .form-control {
    background-color: transparent;
    border: none;
    color: #e8eaed;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-group {
    margin: 0;
  }

  button {
    &:focus {
      outline: none;
    }
  }
}

.form-control {
  background-color: transparent;
  border: none;
  color: #e8eaed;

  &:focus {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    color: #e8eaed;
  }
}

.noteWrapper {
  background-color: transparent;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 24px 57px -24px #0000005c;
  color: #e8eaed;
  margin-bottom: 35px;
  border: 1px solid #3a3b3c;

  h3 {
    font-size: 20px;
  }

  &:hover {
    .actionButtons {
      opacity: 1;
    }
  }
}

.actionButtons {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 0px;
  opacity: 0;
  transition: all 0.5s;
  margin: 0 5px;

  button {
    padding: 0;
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: #e8eaed;
  }
}

.modal-content {
  border: 1px solid;
  background-color: #202124;
  border-color: #5f6368;
  color: #e8eaed;

  .modal-header,
  .modal-footer {
    border: none;
  }

  .close {
    color: #e8eaed;
  }

  .modal-footer {
    button {
      background-color: #1b1b1b;
      border: none;
      color: #e8eaed;
      box-shadow: none;
      padding: 6px 25px;
      font-size: 14px;
    }
  }
}

button,
button:focus {
  outline: none;
}

.editForm {
  padding: 20px;
}

.mobileMenu {
  width: 40px !important;
  height: 40px !important;
  background-color: #3a3b3cfa;
  align-items: center;
  line-height: 1;
  border-radius: 100%;
  color: #e8eaed;
  justify-content: center;
  padding: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.sideBar.open {
  width: 20vw;

  li {
    background-color: #41331C;
  }
}

.mainContent {
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.mainContent.open {
  padding-left: 20vw;
}

.sideBar {
  position: fixed;
  background-color: #202124;
  width: 50px;
  height: 100%;
  top: 64px;
  left: 0;
  padding: 15px 0;
  z-index: 9;
  overflow: hidden;

  transition: all 0.3s;
  box-shadow: -22px 17px 45px 23px #171819;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 25px;

      border-radius: 0 15px 15px 0;
      padding: 5px;

      span.icon {
        width: 35px;
        height: 35px;
        background-color: #41331C;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        margin-right: 15px;
        min-width: 35px;
      }
    }
  }
}

.loader {
  transform: rotate(360deg);
  animation: loader infinite 3s;
  font-size: 45px !important;
  color: #fbbc04;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media screen and (min-width:992px) and (max-width:1208px) {
  .logo {
    a {
      span {
        display: none;
      }
    }
  }

  header .headerIcons li {
    margin-left: 10px !important;
  }

  header .headerIcons li a {
    width: 30px;
    height: 30px;
  }

  .mainContent {
    max-width: 768px;
    margin: 0 auto;
  }

  .noteWrapper h3,
  .noteWrapper p {
    word-break: break-all;
  }
}


@media screen and (min-width:768px) and (max-width:992px) {
  .logo {
    a {
      span {
        display: none;
      }
    }
  }

  header .headerIcons li {
    margin-left: 10px !important;
  }

  header .headerIcons li a {
    width: 30px;
    height: 30px;
  }

  .mainContent {
    max-width: 768px;
    margin: 0 auto;
  }

  .noteWrapper h3,
  .noteWrapper p {
    word-break: break-all;
  }


}

@media screen and (max-width:767px) {
  .d-none-sm {
    display: none;
  }

  .sideBar.open {
    width: 250px;
  }

  .logo {
    a {
      span {
        display: none;
      }
    }
  }

  .mainContent {
    margin-left: 50px;
  }
}